<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SmartCity</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!authService.isLoggedIn()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" *ngIf="!authService.isLoggedIn()">Register</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn() && authService.getRole() === 'ADMIN'">
        <a class="nav-link" routerLink="/create-parking-lot">Create Parking Lot</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn() && authService.getRole() === 'ADMIN'">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn() && authService.getRole() === 'USER'">
        <a class="nav-link" routerLink="/view-parking-lots">View Parking Lots</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
